.root {
  color: inherit;
  text-decoration: underline;
  font-size: var(--mantine-font-size-sm);
  &:hover {
    color: var(--mantine-color-blue-5);
  }
}

.imageLink {
  display: inline-flex;
  align-items: center;
}
